[build]
  publish = "."
  functions = "netlify/functions"

[build.environment]
  NETLIFY_DATABASE_URL = "postgresql://neondb_owner:npg_6zxH5uOkoMLD@ep-delicate-field-aeoobtdm-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
